#exportPattern("^[[:alpha:]]+")
export(bas)
export(bas.area)
export(bas.linear)
export(bas.finite)
export(halton)
export(sss.polygon)
export(dec2baseb)
export(baseb2dec)
export(equi.GUI)
import(RGtk2, sp, spsurvey, utils, rgdal) 