#exportPattern("^[[:alpha:]]+")
export(bas)
export(bas.area)
export(bas.linear)
export(bas.finite)
export(halton)
export(sss.polygon)
export(equi.GUI)
export(draw.grts)
import(RGtk2, sp, spsurvey, utils, rgdal) 