#exportPattern("^[[:alpha:]]+")
export(bas)
export(bas.polygon)
export(bas.line)
export(bas.point)
export(halton)
export(sss.polygon)
export(sss.line)
export(equi.GUI)
export(grts.equi)
import(RGtk2, sp, spsurvey, utils, rgdal)
