#exportPattern("^[[:alpha:]]+")
export(bas)
export(bas.polygon)
export(bas.line)
export(bas.point)
export(halton)
export(sss)
export(sss.polygon)
export(sss.line)
export(equi.GUI)
export(stratified.GUI)
export(unequal.GUI)
export(grts.equi)
export(grts.strat)
export(grts.unequal)
export(halton.lattice.polygon)
export(halton.lattice)
export(halton.indicies)
export(halton.frame)
export(hal)
export(hal.polygon)
export(hal.point)
export(hal.line)
export(readShape)


import(RGtk2, sp, spsurvey, utils, rgdal, rgeos)
